.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 50px;
    min-height: calc(100vh - 300px);
}

.all-cart-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.cart-item {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart-button, .quantity-button {
    font-size: 16px;
    padding: 2px 7px 4px 7px;
    background: rgba(232, 232, 234, 0.36);
    cursor: pointer;
    border: solid #d5d4d4 1px;
    margin: 10px 20px;
    color: #282a2d;
    border-radius: 3px;
}

.cart-button:hover, .quantity-button:hover {
    box-shadow: 0 0 5px #cecccc;
}

@media (max-width: 768px) {
    .cart {
        padding: 10px;
    }

    .all-cart-items {
        margin: 0;
    }
}


@media (min-width: 1800px) {
    .cart {
        padding: 200px 500px;
    }
}
