.new-arrivals-main {
    margin-top: 50px;
    padding:100px

}
.shop-link {
    text-decoration: none;
    color: #282a2d;
}
.new-arrival-container {
    margin-bottom: 70px;
}

.new-arrivals-header {
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-sofas:hover {
    transform: scale(1.02);
}

.shop-chairs:hover {
    transform: scale(1.02);
}

.shop-chairs, .shop-sofas {
    padding: 30px;
    margin: 10px 10px 20px;
    background: rgba(241, 241, 242, 0.31);
    box-shadow: 0 0 5px #e0dfdf;
    transition: transform 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 42vh;
}

.shop-chairs h1, .shop-sofas h1{
    margin-right: 100px;
    margin-left: 100px;
    font-size: 27px;
}

.shop-sofas img, .shop-chairs img{
    height: 95%;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 768px) {

   .new-arrivals-main {
       padding:100px 10px;

   }
    .shop-chairs, .shop-sofas {
        flex-direction: column;
    }
    .shop-sofas img {
      width: 90%;
        height: auto;
    }

    .shop-chairs img {
      height: 75%;
    }
    .shop-chairs h1, .shop-sofas h1{
        margin: 0;
        font-size: 20px;
    }

}

@media (min-width: 768px)  and (max-width: 1279px){
    .new-arrivals-main {
        padding:100px 10px;
    }

    .shop-sofas img {
        height: 80%;
        width: auto;
    }

    .shop-chairs img {
        height: 80%;
    }
    .shop-chairs h1, .shop-sofas h1{
        margin: 0;
        font-size: 20px;
    }
}

@media (min-width: 1800px) {
    .new-arrivals-main {
        padding:200px 500px;
    }
}
