.new-arrivals-main {
    margin-top: 50px;
    padding: 100px 70px;
}

.shop-link {
    text-decoration: none;
    color: #282a2d;
}

.new-arrival-container {
    margin-bottom: 70px;
}

.new-arrivals-header {
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.on-sale-header {
    font-size:25px;
}

.shop-sofas:hover {
    transform: scale(1.02);
}

.shop-chairs:hover {
    transform: scale(1.02);
}

.shop-chairs, .shop-sofas {
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px 10px 20px;
    background: rgba(241, 241, 242, 0.31);
    box-shadow: 0 0 5px #e0dfdf;
    transition: transform 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 37vh;
}

.shop-chairs h1, .shop-sofas h1 {
    margin-right: 100px;
    margin-left: 100px;
    font-size: 27px;
}

.shop-sofas img, .shop-chairs img {
    height: 33vh;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 768px) {

    .new-arrivals-main {
        padding: 100px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .links-wrapper {
        width: 100%;

    }

    .shop-chairs, .shop-sofas {
        padding-right: 0;
        padding-left: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .shop-sofas img {
        width: 40vh;
        height: auto;
        margin: 5px;
    }

    .shop-chairs img {
        height: 25vh;
        margin: 5px;
    }

    .shop-chairs h1, .shop-sofas h1 {
        margin: 0;
        font-size: 20px;
    }

}

@media (min-width: 768px)  and (max-width: 1279px) {
    .new-arrivals-main {
        padding: 100px 70px;
    }

    .shop-sofas img {
        width: 45vh;
        height: auto;
    }

    .shop-chairs img {
        height: 32vh;
    }

    .shop-chairs h1, .shop-sofas h1 {
        margin: 0;
        font-size: 20px;
    }
}

@media (min-width: 1800px) {
    .new-arrivals-main {
        padding: 200px 500px;
    }

    .shop-chairs, .shop-sofas {
        height: 35vh;
    }

    .shop-chairs img {
        height: 27vh;
    }

    .shop-sofas img {
        width: 45vh;
        height: auto;
    }
}
