.main-productcard {
 width:100%
}
.all-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.product-card {
    margin: 10px;
    background: rgba(241, 241, 242, 0.31);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 5px #e0dfdf;
    transition: transform 0.2s ease;
    position: relative;
    padding: 30px;
    flex: 1;
}
.card-logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.card-logo img {
    height: 30px !important;
}

.product-card:hover {
    transform: scale(1.05);
}
.chair, .sofa{
    height: 42vh;
    min-height: fit-content;
    width: fit-content;
}

.chair img, .sofa img{
   height: 32vh;
}

@media (max-width: 768px) {
    .all-cards {
          justify-content: center;
      }

    .chair, .sofa {
        min-height: fit-content;
        height: 35vh;
        width: 100%
    }

    .chair img {
        height: 25vh;
    }
      .sofa img {
    height: 20vh;
}

}

@media (min-width: 768px)  and (max-width: 1279px){
    .all-cards {
        justify-content: center;
    }
    .chair, .sofa {
        min-height: fit-content;
        height: 35vh;
        width: fit-content;
    }

    .chair img,  .sofa img {
        height: 27vh;
    }
    .card-logo img {
        height: 18px !important;
    }
}

@media (min-width: 1280px)  and (max-width: 1439px){
    .chair, .sofa {
        height: 40vh;
        width: fit-content;
        min-height: fit-content;
    }
    .chair img, .sofa img{
        height: 30vh;
    }
    .card-logo img {
        height: 25px !important;
    }

}

@media (min-width: 1800px) {
    .chair, .sofa {
        height: 25vh;
        min-height: fit-content;
    }

    .chair img, .sofa img{
        height: 21vh;
    }

}
