.checkout {
    height: calc(100vh - 360px);
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.checkout-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-field {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 15px;
    font-size: 18px;

}

.input-field input {
    width: 50vh;
    border-radius: 5px;
    border: solid #d1d1d2 1px;
    height: 30px;
    background: rgba(232, 232, 234, 0.36);
    font-size: 16px;
}

.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.success {
    background-color: #a5d6a7;
    color: #2e7d32;
}

.error {
    background-color: #ef9a9a;
    color: #c62828;
}



