.main-sofa-card {
    width:100%
}
.all-sofa-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sofa-card {
    margin: 30px;
    background: rgba(232, 232, 234, 0.36);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 5px #e0dfdf;
    flex: 0 0 calc(20% - 10px);
    transition: transform 0.2s ease;
}

.sofa-card:hover {
    transform: scale(1.05);
}

.sofa-card img{
    height:270px;
}